.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}



.ticket-box {
 
  height: 20px;
  width: 40px;
  padding: 50px;
  background-color: darkgrey;

}